# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# Environment variables (VERY IMPORTANT)
.env
.env.*

# Logs
*.log

# SQLite database
*.db

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Node modules (if frontend inside project)
node_modules/

# Build files
dist/
build/

# Temporary files
*.tmp
*.temp